.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader-message {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 10px;
}