.sound-toggle-button {
  position: fixed;
  bottom: 20px;
  left: 0;
  z-index: 1000;
  color: white;
  border: none;
  padding: 10px 10px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;

  box-shadow: 0 0 4px rgba(255, 107, 107, 0.6);
  background-color: #e6d7b9;
  border: 1px solid #a39480;
}

.sound-toggle-button:hover {
  background-color: #d4c0a1;
  border-color: #8b755e;
}

.player-container {
  position: fixed;
  bottom: 20px;
  left: -580px;
  height: max-content;
  width: auto;
  background-color: white;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease;
  z-index: 999;
  border-radius: 5px;
  overflow: hidden;
}

.player-container.visible {
  left: 0;
  /* Slide in */
}

.player-container.hidden {
  left: -200vw;
  /* Slide out */
}

#youtube-player {
  margin: 20px;
}

.volume-control {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 10px;
}